*{
    font-family: "Oduda Bold";
    font-size: 3.5vh;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFF7E2;
}
.top-content{
    display: flex;
    flex-direction: row;
    color: #FFF7E2;
    height: 10%;
    background-color: #7C6351;
    gap: 1vh;
    padding-left: 4vh;
    padding-top: 1vh;
}
.main-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #FFF7E2;
    margin: 10vh;
    margin-left: 25vh;
    margin-right: 25vh;
    gap: 50px;
    color: #7C6351;
}
.left-panel{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    gap: 40px;
}
.right-panel{
    width: 70%;
    height: 100%;
}
.left-upper-panel{
    height: 50%;
}
.left-lower-panel{
    height: 50%;
}
.lower-box{
    background-color: white;
    height: 85%;
    padding: 15px;
    border-radius: 35px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.total{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 85%;
    background-color: white;
    border-radius: 35px;
}
.right-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    height: 94%;
    padding: 15px;
    border-radius: 35px;
}
.big{
    display: flex; 
    margin: auto;
    margin-bottom: 2vh;
    height: 90%;
    align-items: center;
    font-size: 10vh;
}
.top{
    display: flex;
    gap: 1vh;
}
.bottom{
    display: flex;
    height: 65%;
    font-size: 10vh;
    align-items: center;
    justify-content: center;
}
#box{
    background-color: white;
    width: 100%;
}
.name-box{
    margin-top: 1vh;
}
img{
    width: 6vh;
    height: 6vh;
}
.logo{
    width: 6vh;
    height: 6vh;
}
.carewear{
    margin: 1vh;
}
#load-screen {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FFF7E2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.heartbeat {
    position: relative;
    width: 150px;
    height: 100px;
    background-image: url("../img/heart.png");
    background-position: center;
    background-size: cover;
    animation: heartbeat 1.5s infinite ease-in-out;
}
.heart {
    display: flex;
    flex-direction: row;
    height: 80%;
    gap: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
.rate-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 35px;
    background-color: #FFF7E2;
    padding: 2vh;
}
.text{
    display: flex;
    justify-content: center;
}
.heart-values{
    display: flex;
    font-size: 10vh;
    align-items: center;
    justify-content: center;
}
.heart-box{
    display: flex;
    height: 58%;
    font-size: 10vh;
    align-items: center;
    justify-content: center;
}
@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.3);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 1000px){
    body{
        height: 200vh;
    }
    .top-content{
        height: 4%;
        background-color: #7C6351;
        gap: 1vh;
        padding-left: 4vh;
        padding-top: 1vh;
    }
    .main-content{
        flex-direction: column;
        margin: 6vh;
        gap: 40px;
    }
    
    .left-upper-panel{
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    .left-lower-panel{
        padding: 0;
    }
    .total{
        height: 90%;
    }
    .lower-box{
        height: 90%;
    }
    .left-panel{
        width: 100%;
    }
    .right-panel{
        width: 100%;
        height: 78vh;
    }
    .heart{
        flex-direction: column;
        height: 45vh;
        gap: 3vh;
    }
    .heart-box{
        height: 25vh;
    }
    .right-box{
        height: 78vh;
        gap: 10vh;
    }
    .rate-box{
        width: 23vh;
        justify-content: center;
    }
}

