*{
    font-family: 'oduda';
    font-size: 3.5vh;
    color: #7C6351;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    
    background-color: #FFF7E2;
}
main{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.nav-panel{
    display: flex;
    /* padding: 5vh; */
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 40px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.new-nav-panel{
    display: flex;
    /* padding: 5vh; */
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 40px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.bg-nav{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF7E2;
    height: 100%;
    border-radius: 50px;
    border: solid #7C6351 2px;
    gap: 6%;
}
.bg-nav a{
    font-size: 2vw;
    text-decoration: none;
    color: #7C6351;
    transition: ease-in-out 0.15s;
    cursor: pointer;
}
.bg-nav a:hover{
    color: #ff85bc;
}
.new-nav{
    width: 95%;
    color: #7C6351;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    justify-content: end;
    display: none;
}
.nav-button{
    width: 10vh;
    height: 10vh;
    background-color: #FFF7E2;
    border: solid #7C6351 2px;
    border-radius: 10px;
}
.new-nav i{
    cursor: pointer;
}
.new-bg-nav{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: solid #7C6351 2px;
    padding: 5vh;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    display: none;
    top: 10px;
    left: 20px;
    border-radius: 50px;
    background-color: #FFF7E2;
    z-index: -1;
}
.new-bg-nav a{
    text-align: center;
    font-size: 5vh;
    text-decoration: none;
    color: #7C6351;
    transition: ease-in-out 0.15s;
    cursor: pointer;
}
.new-bg-nav.open{
    max-height: 300px;
    display: flex;
}
.head, .equipment,.Input,.Output,.link,.About-us{
    border-bottom: solid #7C6351 3px;
    padding-bottom: 20vh;
}

.head{
    padding-bottom: 50px;
    width: 100%;
    height: 120vh;
    display: flex;
    background-color: #FFD7E9;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.frame{
    width: 100vw;
    height: 110vh;
    position: absolute;
    top: -7vh;
    left: 0;
}
.head-name h1{
    margin-top: 12vh;
    color: #7C6351;
    font-size: 10vh;
    text-align: center;
}
.head-right{
    width: 50%;
    height: 100%;
}
.head-name{
    width: 50%;
}
.head-img{
    transform: translate(10%, -50%);
    border-radius: 50%;
    background-image: url("../img/chi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 150vh;
    height: 150vh;
}
.abstract{
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/decor.png");
}
.abstract-ban{
    padding-top: 17vh;
    background-color: #FFD7E9;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.abstract-ban h2{
    text-align: center;
    margin: 0;
    font-size: 10vh;
    width: 100%;
}
.abstract-ban div{
    width: 100%;
}

.equipment{
    padding-top: 9vh;
    display: flex;
    background-image: url("../img/decor4.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: auto;
}
.equipment h1{
    font-size: 10vh;
    text-align: center;
}
.item-list{
    
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    gap: 20px;

}
.item-list div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
    background-color: white;
    width: 60vh;
    height: 70vh;
}
.Input{
    background-color: #f56e74;
    height: auto;
    border-bottom: solid #7C6351 2px;
}
.Input h1{
    font-size: 15vh;
    text-align: center;
    margin: 0;
    color: white;
}
.Input .box{
    height: 100vh;
}
.Input-deco{
    left: 0.5vh;
    width: 100vw;
    height: 100vh;
    position: absolute;

}
.Connect{
    margin-top: 50vh;
    height: 120vh;
}
.Connect h1{
    font-size: 10vh;
    text-align: center;
}
.Connect .box{
    background-color: #FFD7E9;
    height: 90vh;
}
.Output{
    padding-top: 20vh;
    display: flex;
    background-image: url("../img/decor4.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: auto;
}
.Output h1{
    margin: 0;
    font-size: 10vh;
    text-align: center;
}
.Output p{
    text-align: center;
}
.output-list{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    gap: 20px;
}
.output-list div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
    background-color: white;
    width: 40vh;
    height: 50vh;
}
.link{
    background-color: #71d3aa;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 4vh;
    align-items: center;
    justify-content: center;
}
.link div{
    font-size: 10vh;
    
}
.link-list{
    flex-wrap: wrap;
    gap: 4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}
.link-list div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: white;
    width: 70vh;
    height: 20vh;
}
.link-down{
    flex-wrap: wrap;
    height: 100%;
    gap: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link-down div{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: white;
    width: 60vh;
    height: 20vh;
}

.About-us{
    padding-top: 20vh;
    gap: 4vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}
.About-us div{
    font-size: 10vh;
}
.us-list{
    flex-wrap: wrap;
    gap: 4vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.us-list div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: white;
    width: 70vh;
    height: 50vh;
}

@media (max-width: 1000px){
    .link{
        height: auto;
        width: 100%;
    }
    .link-up{
        flex-direction: column;
        align-items: center;
    }
    .link-down{
        flex-direction: column;
        align-items: center;
    }
    .link-up div{
        margin: 2vh;
        width: 90%;
    }
    .link-down div{
        width: 90%;
        margin: 2vh;
    }
    .About-us-box{
        flex-direction: column;
    }
    .About-us-box div{
        width: 100%;
    }
    .bg-nav{
        display: none;
    }
    .new-nav{
        display:block;
    }
}

